<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>Elayabarathi M V | Profile Card</title>
        <link rel="shortcut icon" href="static/images/favicon.png" type="image/x-icon">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="static/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Main -->
					<section id="main">
						<header>
							<span class="avatar"><img src="static/images/favicon.png" alt="" /></span>
							<h1>Elayabarathi M V</h1>
							<p>Frontend Web Developer</p>
						</header>
						<footer>
							<ul class="icons">
								<li><a  href="https://www.linkedin.com/in/elayabarathi" target="_blank" rel="noopener noreferrer" class="fa-linkedin">LinkedIn</a></li>
								<li><a href="https://github.com/BadBoy-Github" target="_blank" rel="noopener noreferrer" class="fa-github">GitHub</a></li>
								<li><a href="https://x.com/_Elayabarathi_" target="_blank" rel="noopener noreferrer" class="fa-twitter">Twitter</a></li>
							</ul>
						</footer>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li><a href="https://elayabarathimv-portfolio.vercel.app/">Elayabarathi M V</a></li>
							<li><a href="https://panda-productions.vercel.app/">Panda Productions</a></li>
                            <li><a href="http://html5up.net">HTMP5UP</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-loading\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
			</script>

	</body>
</html>